<button
  id="arrowAnim"
  mat-button
  mat-ripple
  [matRippleCentered]="false"
  [matRippleRadius]="42"
  (click)="handleClick($event)"
  matTooltip="Expand"
  #tooltip="matTooltip"
  matTooltipHideDelay="500"
  [ngClass]="{
    buttonRight: this.expanded === false
  }"
>
  <div
    class="arrowGroup"
    [ngClass]="{
      initLeft: this.expanded === true,
      initRight: this.expanded === false
    }"
  >
    <div class="arrow"></div>
  </div>
  <div
    [ngClass]="{
      arrowLeftSliding: this.expanded === true,
      arrowRightSliding: this.expanded === false
    }"
    class="delay1 arrowSliding"
  >
    <div class="arrow"></div>
  </div>
  <div
    [ngClass]="{
      arrowLeftSliding: this.expanded === true,
      arrowRightSliding: this.expanded === false
    }"
    class="delay2 arrowSliding"
  >
    <div class="arrow"></div>
  </div>
  <div
    [ngClass]="{
      arrowLeftSliding: this.expanded === true,
      arrowRightSliding: this.expanded === false
    }"
    class="delay3 arrowSliding"
  >
    <div class="arrow"></div>
  </div>
</button>
