<button
  id="arrowAnim"
  mat-button
  mat-ripple
  [matRippleCentered]="false"
  [matRippleRadius]="42"
  (click)="handleClick($event)"
  matTooltip="Expand"
  #tooltip="matTooltip"
  matTooltipHideDelay="500"
  [ngClass]="{
    buttonRight: this.expanded === false
  }"
>
  <div
    class="arrowGroup"
    [ngClass]="{
      initLeftGreen: (this.expanded === true) && this.selectedColor === 'green',
      initRightGreen: (this.expanded === false) && this.selectedColor === 'green',
      initLeftRed: (this.expanded === true) && this.selectedColor === 'red',
      initRightRed: (this.expanded === false) && this.selectedColor === 'red',
      initLeftBlue: (this.expanded === true) && this.selectedColor === 'blue',
      initRightBlue: (this.expanded === false) && this.selectedColor === 'blue'
    }"
  >
    <div class="arrow"></div>
  </div>
  <div
    [ngClass]="{
      arrowLeftSliding: this.expanded === true,
      arrowRightSliding: this.expanded === false
    }"
    class="delay1 arrowSliding"
  >
    <div class="arrow"></div>
  </div>
  <div
    [ngClass]="{
      arrowLeftSliding: this.expanded === true,
      arrowRightSliding: this.expanded === false,
      delay2Green: this.selectedColor === 'green',
      delay2Blue: this.selectedColor === 'blue',
      delay2Red: this.selectedColor === 'red'
    }"
    class="delay2 arrowSliding"
  >
    <div class="arrow"></div>
  </div>
  <div
    [ngClass]="{
      arrowLeftSliding: this.expanded === true,
      arrowRightSliding: this.expanded === false
    }"
    class="delay3 arrowSliding"
  >
    <div class="arrow"></div>
  </div>
</button>
