.sidenav {
  height: 100vh;
}

.router-active {
background-color: #00bb00aa !important;
}

router-outlet {
  width: ;
}

#arrowAnim {
  z-index: 999;
  position: absolute;
  bottom: .75em;
  left: 1em;
}

.arrow-left {
  width: .5em;
  height: .5em;
}

.arrow-right {
  width: 5vw;
  height: 5vw;
  border: 2.5vw solid;
  transform: rotate(45deg);
}

.arrowSliding {
  position: absolute;
  -webkit-animation: slide 3s linear infinite;
  animation: slide 3s linear infinite;
}
.delay0 {
  opacity: 0;
  position: absolute;
  -webkit-animation: slideInit 2s linear normal;
  animation: slideInit 2s linear normal;
  border: 0.5vw solid;
  transform: rotate(-45deg);
  border-color: #00ff0088 transparent transparent #00ff0088;
}

.delay1 {
  opacity: 0;
  border: 0.5vw solid;
  transform: rotate(-45deg);
  border-color: #1a1a1a88 transparent transparent #1a1a1a88;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.delay2 {
  opacity: 0;
  border: 0.5vw solid;
  transform: rotate(-45deg);
  border-color: #00ff0088 transparent transparent #00ff0088;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5;
}

.delay3 {
  opacity: 0;
  border: 0.5vw solid;
  transform: rotate(-45deg);
  border-color: #1a1a1a88 transparent transparent #1a1a1a88;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(3vw), rotate(-45deg);
  }
  20% {
    opacity: 0;
    transform: translateX(2vw), rotate(-45deg);
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
    transform: translateX(-2vw), rotate(-45deg);
  }
  100% {
    opacity: 0;
    transform: translateX(-3vw), rotate(-45deg);
  }
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(3vw) rotate(-45deg);
  }
  20% {
    opacity: 0;
    transform: translateX(2vw) rotate(-45deg);
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
    transform: translateX(-2vw) rotate(-45deg);
  }
  100% {
    opacity: 0;
    transform: translateX(-3vw) rotate(-45deg);
  }
}

@-webkit-keyframes slideInit {
  0% {
    opacity: 0;
    transform: rotate(-45deg);
  }
  20% {
    opacity: 1;
    transform: rotate(-45deg);
  }
  40% {
    opacity: 0;
    transform: rotate(-45deg);
  }
  80% {
    opacity: 1;
    transform: rotate(-45deg);
  }
  100% {
    opacity: 0;
    transform: rotate(-45deg);
  }
}
@keyframes slideInit {
  0% {
    opacity: 0;
    transform: rotate(-45deg);
  }
  20% {
    opacity: 1;
    transform: rotate(-45deg);
  }
  40% {
    opacity: 0;
    transform: rotate(-45deg);
  }
  80% {
    opacity: 1;
    transform: rotate(-45deg);
  }
  100% {
    opacity: 0;
    transform: rotate(-45deg);
  }
}
