body {
  margin: 0 !important;
  padding: 0 !important;
}

/** Collapse Button **/
/** position: fixed behaviour is bugged on Chrome:
https://github.com/angular/components/issues/3031
https://bugs.chromium.org/p/chromium/issues/detail?id=20574 **/
app-animated-collapse-arrow {
  position: fixed !important;
  bottom: 1em;
  left: 8.75em;
  z-index: 999;
}
.buttonLeft {
  left: 0.5em;
}

mat-sidenav {
  height: 100vh;
}

mat-sidenav-content {
  margin: 0 !important;
  padding: 0 !important;
}
.router-active {
  background-color: var(--router-active) !important;
}
.mat-drawer {
  background-color: #0f0f0f00;
}

router-outlet {
  padding: 0;
  margin: 0;
  width: 100%;
}
/* Needed for THREE.js-canvas */
.content {
  height: 100vh;
}

app-matrix {
  overflow: hidden;
}

app-particle-banner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/** Bottom Sidenav Color Button Group **/
.bottom {
  align-items: center;
}
.bottomStick {
  position: absolute !important;
  bottom: 0 !important;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bottomRelative {
  position: relative !important;
  left: 1em;
  margin-top: 1em !important;
}
