<mat-sidenav-container [hasBackdrop]="false" class="sidenav">
  <mat-sidenav
    #sidenav
    mode="push"
    [(opened)]="this.settings.expanded"
    [fixedInViewport]="true"
  >
    <mat-nav-list>
      <a mat-list-item routerLink="/">
        <app-banner></app-banner>
      </a>
      <a mat-list-item routerLink="/matrix" routerLinkActive="router-active"
        >Matrix</a
      >
      <a
        mat-list-item
        routerLink="/particle-banner"
        routerLinkActive="router-active"
        >2D Particles</a
      >
      <a
        mat-list-item
        routerLink="/particles-connect"
        routerLinkActive="router-active"
        >3D Particles</a
      >

      <!-- Bottom Color Toggle Button Group-->
      <mat-button-toggle-group
        [value]="this.selectedColor"
        class="bottom"
        [ngClass]="this.appropriateClass"
        mat-list-item
        name="globalColor"
        (change)="onColorChange($event.value)"
      >
        <mat-button-toggle value="red">R</mat-button-toggle>
        <mat-button-toggle class="active" value="green">G</mat-button-toggle>
        <mat-button-toggle value="blue">B</mat-button-toggle>
      </mat-button-toggle-group>

      <app-particle-banner mat-list-item> </app-particle-banner>
    </mat-nav-list>
  </mat-sidenav>

  <div class="content">
    <router-outlet> </router-outlet>

    <!-- Collapse/Expand-Button -->
    <!-- Needs an ngIf-Implementation due to a bug in Chromium where containers disappear on fragment navigation:
    https://bugs.chromium.org/p/chromium/issues/detail?id=288747 -->
    <app-animated-collapse-arrow
      class="buttonLeft"
      *ngIf="!settings.expanded"
      [expanded]="false"
      (collapseButtonClick)="onCollapseButtonClick($event)"
    ></app-animated-collapse-arrow>
    <app-animated-collapse-arrow
      *ngIf="settings.expanded"
      [expanded]="true"
      (collapseButtonClick)="onCollapseButtonClick($event)"
    ></app-animated-collapse-arrow>
  </div>

</mat-sidenav-container>
