button {
  width: 3em !important;
  height: 3em !important;
  min-width: 0 !important;
  padding: 0 !important;
}

.arrow {
  width: 1em;
  height: 1em;
}
.arrowSliding {
  position: absolute;
  left: 0em;
  -webkit-animation: slideRight 2.5s linear infinite;
  animation: slideRight 2.5s linear infinite;
}
.initRight {
  position: absolute;
  animation: slideRightInit 2s linear normal;
  -webkit-animation: slideRightInit 2s linear normal;
  border: 0.5em solid;
  border-color: #00ff0088 transparent transparent #00ff0088;
  opacity: 0;
}

.arrowLeftSliding {
  position: absolute;
  -webkit-animation: slideLeft 2.5s linear infinite;
  animation: slideLeft 2.5s linear infinite;
}
.initLeft {
  position: absolute;
  animation: slideLeftInit 2s linear normal;
  -webkit-animation: slideLeftInit 2s linear normal;
  border: 0.5em solid;
  border-color: #00ff0088 transparent transparent #00ff0088;
  opacity: 0;
}

.delay1 {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  border: 0.5em solid;
  border-color: #1a1a1a88 transparent transparent #1a1a1a88;
  opacity: 0;
}
.delay2 {
  animation-delay: 1.5;
  -webkit-animation-delay: 1.5s;
  border: 0.5em solid;
  border-color: #00ff0088 transparent transparent #00ff0088;
  opacity: 0;
}

.delay3 {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
  border: 0.5em solid;
  border-color: #1a1a1a88 transparent transparent #1a1a1a88;
  opacity: 0;
}


@keyframes slideLeftInit {
  0% {
    opacity: 0;
    transform: translateX(0.5em)  translateY(-1em) rotate(-45deg);
  }
  20% {
    opacity: 1;
    transform: translateX(0.5em)  translateY(-1em) rotate(-45deg);
  }
  40% {
    opacity: 0;
    transform: translateX(0.5em)  translateY(-1em) rotate(-45deg);
  }
  80% {
    opacity: 1;
    transform: translateX(0.5em)  translateY(-1em) rotate(-45deg);
  }
  100% {
    opacity: 0;
    transform: translateX(0.5em)  translateY(-1em) rotate(-45deg);
  }
}
@-webkit-keyframes slideLeftInit {
  0% {
    opacity: 0;
    transform: translateX(0.5em)  translateY(-1em) rotate(-45deg);
  }
  20% {
    opacity: 1;
    transform: translateX(0.5em)  translateY(-1em) rotate(-45deg);
  }
  40% {
    opacity: 0;
    transform: translateX(0.5em)  translateY(-1em) rotate(-45deg);
  }
  80% {
    opacity: 1;
    transform: translateX(0.5em)  translateY(-1em) rotate(-45deg);
  }
  100% {
    opacity: 0;
    transform: translateX(0.5em)  translateY(-1em) rotate(-45deg);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(5em)  translateY(-1em) rotate(-45deg);
  }
  20% {
    opacity: 0;
    transform: translateX(4em)  translateY(-1em) rotate(-45deg);
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
    transform: translateX(0em)  translateY(-1em) rotate(-45deg);
  }
  100% {
    opacity: 0;
    transform: translateX(-1em)  translateY(-1em) rotate(-45deg);
  }
}
@-webkit-keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(5em)  translateY(-1em) rotate(-45deg);
  }
  20% {
    opacity: 0;
    transform: translateX(4em)  translateY(-1em) rotate(-45deg);
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
    transform: translateX(0em)  translateY(-1em) rotate(-45deg);
  }
  100% {
    opacity: 0;
    transform: translateX(-1em)  translateY(-1em) rotate(-45deg);
  }
}

@keyframes slideRightInit {
    0% {
    opacity: 0;
    transform: translateX(-1.5em)  translateY(-1em) rotate(135deg);
  }
  20% {
    opacity: 1;
    transform: translateX(-1.5em)  translateY(-1em) rotate(135deg);
  }
  40% {
    opacity: 0;
    transform: translateX(-1.5em)  translateY(-1em) rotate(135deg);
  }
  80% {
    opacity: 1;
    transform: translateX(-1.5em)  translateY(-1em) rotate(135deg);
  }
  100% {
    opacity: 0;
    transform: translateX(-1.5em)  translateY(-1em) rotate(135deg);
  }
}
@-webkit-keyframes slideRightInit {
  0% {
    opacity: 0;
    transform: translateX(-1.5em)  translateY(-1em) rotate(135deg);
  }
  20% {
    opacity: 1;
    transform: translateX(-1.5em)  translateY(-1em) rotate(135deg);
  }
  40% {
    opacity: 0;
    transform: translateX(-1.5em)  translateY(-1em) rotate(135deg);
  }
  80% {
    opacity: 1;
    transform: translateX(-1.5em)  translateY(-1em) rotate(135deg);
  }
  100% {
    opacity: 0;
    transform: translateX(-1.5em)  translateY(-1em) rotate(135deg);
  }
}


@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-5.25em)  translateY(-1em) rotate(135deg);
  }
  20% {
    opacity: 0;
    transform: translateX(-4.25em)  translateY(-1em) rotate(135deg);
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
    transform: translateX(-0.25em)  translateY(-1em) rotate(135deg);
  }
  100% {
    opacity: 0;
    transform: translateX(1.25em)  translateY(-1em) rotate(135deg);
  }
}
@-webkit-keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-5.25em)  translateY(-1em) rotate(135deg);
  }
  20% {
    opacity: 0;
    transform: translateX(-4.25em)  translateY(-1em) rotate(135deg);
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
    transform: translateX(-0.25em)  translateY(-1em) rotate(135deg);
  }
  100% {
    opacity: 0;
    transform: translateX(1.25em)  translateY(-1em) rotate(135deg);
  }
}
